* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Adigiana', sans-serif;
}

.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: black;
}

.fade-out {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    background-color: black;
}

.spacer {
    height: 1vh;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#welcome-text {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 150px;
    color: #01b291;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    opacity: 0;
    animation: fadeIn 2s forwards 0.5s;
}

#website-text {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 51px;
    color: transparent;
    -webkit-text-stroke: 1px #01b291;
    opacity: 0;
    animation: fadeIn 2s forwards 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px) scale(0.9); /* Hafif yukarı ve küçültme efekti */
    }
    60% {
        opacity: 1;
        transform: translateY(0) scale(1.05); /* Hafif büyütme */
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1); /* Normal boyut */
    }
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 2;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.content {
    color: #01b291;
    position: absolute;
    top: 50%;
    left: 30px;
    right: 30px;
    transform: translateY(-50%);
    z-index: 2;
}

h1 {
    font-size: 80px;
    margin: 20px 0 30px;
    line-height: 80px;
}

.bubbles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
    z-index: 1;
}

.bubbles img {
    width: 60px;
    animation: bubble 7s linear infinite;
}

@keyframes bubble {
    0% { transform: translateY(0); opacity: 0; }
    50% { opacity: 1; }
    100% { transform: translateY(-80vh); opacity: 0; }
}

/* Bubble animation delays */
.bubbles img:nth-child(1) { animation-delay: 2s; width: 30px; }
.bubbles img:nth-child(2) { animation-delay: 0.8s; }
.bubbles img:nth-child(3) { animation-delay: 3s; width: 25px; }
.bubbles img:nth-child(4) { animation-delay: 4s; }
.bubbles img:nth-child(5) { animation-delay: 3s; }
.bubbles img:nth-child(6) { animation-delay: 4.5s; width: 25px; }
.bubbles img:nth-child(7) { animation-delay: 5.5s; width: 35px; }

@media (max-width: 768px) {
    h1 {
        font-size: 50px; /* Düşürülmüş boyut */
        margin: 20px 0 40px; /* Boşlukları ayarladım */
        line-height: 60px; /* Daha uyumlu yükseklik */
    }

    #welcome-text {
        font-size: 80px; /* Düşürülmüş boyut */
    }

    #website-text {
        font-size: 40px; /* Düşürülmüş boyut */
    }

    .bubbles img { width: 50px; }
}

@media (max-width: 480px) {
    h1 {
        font-size: 40px; /* Düşürülmüş boyut */
        margin: 20px 0 30px; /* Boşlukları ayarladım */
        line-height: 50px; /* Daha uyumlu yükseklik */
    }

    #welcome-text {
        font-size: 60px; /* Düşürülmüş boyut */
    }

    #website-text {
        font-size: 30px; /* Düşürülmüş boyut */
    }

    .bubbles img { width: 25px; }
}