body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
  }
      
  .navigation {
    position: fixed; /* Sayfa kaydırıldığında sabit kalır */
    top: 0;
    left: 0;
    right: 0;
    margin: 10px auto; /* Ortaya hizalama */
    background: #383838;
    color: #FFF;
    overflow: hidden;
    height: 65px;
    width: 90%; /* Genişliği ekran boyutuna göre ayarlar */
    max-width: 1500px; /* Maksimum genişlik */
    box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: flex; /* Flexbox kullanımı */
    justify-content: center; /* İçerikleri yatayda ortalar */
    align-items: center; /* İçerikleri dikeyde ortalar */
    z-index: 1000; /* Bu satırı ekleyin */
}

.navigation li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    padding: 60px;
    list-style-type: none;
    font-family: 'ambleregular';
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    margin: 0 10px;
    transition: all .9s;
}

.navigation .active {
    background: #01b291;
    border-bottom: 2px solid #FFF;
    animation: animatedNav 1s ease-in;
}

@keyframes animatedNav {
    0% { background: #383838; }
    100% { background: #01b291; }
}

.navigation li a {
    text-decoration: none;
    color: #FFF;
}

.navigation .active a {
    color: #333;
}

body {
    margin: 0;
    padding: 0;
    padding-top: 85px; /* Navigation'ın içeriğin üstüne gelmemesi için boşluk ekler */
}


main {
    margin-top: 60px; /* Header yüksekliğini buraya ekleyin */
    padding: 20px;
}

section {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    min-height: calc(40vh - 100px); /* En az ekranın yüksekliğinden biraz daha az */
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh; /* Tam ekran yüksekliği */
    background-color: #01b291; /* Turkuaz arka plan rengi */
    color: white; /* Metin rengini beyaz yaparak görünürlüğü artırıyoruz */
    position: relative;
    z-index: 1;
}

#home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Yarı saydam siyah katman ekleyerek metnin okunabilirliğini artırıyoruz */
    z-index: -1;
}

.project {
    display: flex;
    flex-wrap: wrap; /* Resimleri yan yana koyar ve taşan resimler bir sonraki satıra geçer */
    margin-bottom: 20px;
    align-items: center;
}

.project img {
    max-width: 48%; /* Resimler arasındaki boşluk için %100 yerine %48 kullandık */
    height: auto;
    margin: 1%;
}

.project h3, .project p {
    width: 100%;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
}

form button {
    margin-top: 10px;
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: #555;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
    width: 100%;
}
