*{
    margin: 0;
    padding: 0;
}


/* Project */
.project {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 70px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap; /* Resimleri yan yana koyar ve taşan resimler bir sonraki satıra geçer */
    align-items: center;
}

.project img {
    max-width: 20%; /* Resimler arasındaki boşluk için %100 yerine %48 kullandık */
    height: auto;
    margin: 2%;
}


.project h3, .project p, .project h2 {
    width: 100%;
    margin-top: 15px;
    text-align: left;
    text-align: start;
    font-size: 1.5rem;
}


.img-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    padding: 15px;
    border: 3px solid #01b291;
    border-radius: 15px;
    background-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.img-container img {
    width: calc(18% - 20px);
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.img-container img:hover {
    transform: scale(1.05);
}

.img-aciklama-container {
    width: 85%;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.6s ease, transform 0.6s ease;
    background-color: black;
    border: 5px solid #01b291;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    color: white;
}

.img-container:hover + .img-aciklama-container {
    opacity: 1;
    transform: translateY(0);
}


/* Responsive Styles */
@media (max-width: 768px) {
    .project img {
        max-width: 45%; /* Tabletler için resimlerin genişliği %45 olarak ayarlandı */
    }
}

@media (max-width: 480px) {
    .project {
        flex-direction: column; /* Telefonlar için proje elemanlarını dikey hizalar */
    }

    .project img {
        max-width: 100%; /* Telefonlar için resimler %100 genişlikte */
        margin-bottom: 15px;
    }

    .project h3, .project p {
        font-size: 1.2rem; /* Telefonlar için yazı boyutu küçültüldü */
    }
}

/* Responsive Styles */
@media (max-width: 768px) {
    .img-container img {
        width: calc(45% - 20px); /* Tabletler için resimlerin genişliği %45 olarak ayarlandı */
    }

    .img-aciklama-container {
        width: 90%; /* Tabletler için açıklama konteyner genişliği %90 olarak ayarlandı */
    }
}

@media (max-width: 480px) {
    .img-container img {
        width: calc(100% - 20px); /* Telefonlar için resimlerin genişliği %100 olarak ayarlandı */
    }

    .img-aciklama-container {
        width: 95%; /* Telefonlar için açıklama konteyner genişliği %95 olarak ayarlandı */
    }
}